<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amplefind bot manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/jsgrid/jsgrid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/jsgrid/jsgrid-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/jquery-ui-1.11.4/jquery-ui.css') }}">
    <script src="{{ url_for('static', filename='vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jsgrid/jsgrid.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-ui-1.11.4/jquery-ui.js') }}"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block page_js %}{% endblock %}
</html>
