{% extends "base.html" %}
{% block body %}
    <a href="/">all</a>
    <h1>{{ domain }} - {{ scenario_type }}</h1>
    <div id="scenarioGrid" style="min-height: 1000px;"></div>
    <script>
        grid_fields = {{ fields | tojson }};
        domain = {{ domain |tojson }}
        scenario_type = {{ scenario_type| tojson }}
    </script>
{% endblock %}
{% block page_js %}
    <script src="{{ url_for('static', filename='domain-grid.js') }}"></script>
{% endblock %}
