{% extends "base.html" %}
{% block body %}
    <h1>Domains</h1>
    <ul>
        {% for domain in domains %}
            <h4><a href="http:\\{{ domain }}" target="_blank">{{ domain }}</a></h4>
            <a href="{{ url_for('view_domain_metadata', domain=domain) }}">
                {{ domain }} metadata
            </a>
            <br>
            <a href="{{ url_for('view_domain', domain=domain, scenario_type='check-product-availability') }}">
                {{ domain }} check product availability
            </a>
            <br>
            <a href="{{ url_for('view_domain', domain=domain, scenario_type='facets') }}">
                {{ domain }} facets
            </a>
            <br>
            <a href="{{ url_for('view_domain', domain=domain, scenario_type='select-quantity') }}">
                {{ domain }} select quantity
            </a>
            <br>
            <a href="{{ url_for('view_domain', domain=domain, scenario_type='add-to-cart') }}">
                {{ domain }} add to cart
            </a>
            <br>
            <a href="{{ url_for('view_domain', domain=domain, scenario_type='make-order') }}">
                {{ domain }} make order
            </a>
            <br>
            <a href="{{ url_for('view_domain', domain=domain, scenario_type='confirm-order') }}">
                {{ domain }} confirm order
            </a>
        {% endfor %}
    </ul>
    <h4>Add new domain</h4>
    <form action="{{ url_for('add_domain') }}" method="POST">
        <dl>
            <dd><input type="text" size="30" name="domain" placeholder="domain url">
            <dd><input type="submit" value="Add">
        </dl>
    </form>

    <h4>Product facets</h4>

    <form>
        <dl>
            <dd><textarea name="urls" placeholder="request data"
                          style="width: 100%;min-height: 50px;"
                    ></textarea>
            <dd><input type="button" value="Get facets" onclick="requestFacets(this)">
        </dl>
    </form>


    <h4>Order preview</h4>

    <form>
        <dl>
            <dd><textarea name="text" placeholder="request data"
                          style="width: 100%;min-height: 150px;"
                    ></textarea>
            <dd><input type="button" value="get order preview" onclick="requestOrderPreview(this)">
        </dl>
    </form>

    <h4>Confirm preview</h4>

    <form>
        <dl>
            <dd><input type="text" name="task_id" placeholder="task_id">
            <dd><input type="button" value="order confirm" onclick="requestOrderConfirm(this)">
        </dl>
    </form>

    <a href="/errors"><h1>result</h1></a>
{% endblock %}
{% block page_js %}
    <script>
        api_auth = {{ api_auth|tojson }};
    </script>
    <script src="{{ url_for('static', filename='bot-request.js') }}"></script>
{% endblock %}
