{% extends "base.html" %}
{% block body %}
    <a href="/">all</a>
    <h1>{{ domain }} - metadata</h1>
    <div>
        {% from "formhelpers.html" import render_field %}
        <form method=post>
            <dl>
                {% for field in form._fields.values() %}
                    {{ render_field(field) }}
                {% endfor %}
            </dl>
            <p><input type=submit value=Update>
        </form>
    </div>
{% endblock %}
{% block page_js %}
{% endblock %}
