{% extends "base.html" %}
{% block css %}

{% end %}
{% block hero %}
{% end %}
{% block content %}
<div class="container">
      <div class="row">
         <h3>Something wrong</h3>

            
      </div>
    </div>
{%end%}