<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Social advice</title>
   
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">

    <!-- Le styles -->
   <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
   <link href="{{ static_url("css/bootstrap-responsive.min.css") }}" rel="stylesheet">
	    <style type="text/css">


body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#04173d;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
	font-size: 16px;
	padding-top: 40px;
}


.scroll {
	margin-top: 20px;
	border: 1px solid #aaa;
	padding: 5px 10px;
	color:#fff;
    }
.scroll a{
	color:#fff;
}
.cityenter {
  top: 0;
  left: 0;
  padding: 4px;
  margin-bottom: 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}
.row {
	color: #fff;
}
.yellow{
	color: #bce8f1;
}
.artist a {
  color: #fff;
  text-decoration: none;
}

.artist a:hover {
  color: #eed3d7;
  text-decoration: underline;
}
.artsmall {
  height: 64px;
}
.artmedium {
  height: 150px;
}
.venue a {
  color: #dff0d8;
  text-decoration: none;
}
.venue a:hover {
  color: #bce8f1;
  text-decoration: underline;
}
      {% block css %}{% end %}
    </style>
    <link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet">
   {% block links %}{% end %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements    height: 90px;
    position: relative;    		background-image: linear-gradient(to bottom, #313944, #20252C);-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block js %}{% end %}

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url("ico/apple-touch-icon-144-precomposed.png") }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url("ico/apple-touch-icon-114-precomposed.png") }}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url("ico/apple-touch-icon-72-precomposed.png") }}">
                    <link rel="apple-touch-icon-precomposed" href="{{ static_url("ico/apple-touch-icon-57-precomposed.png") }}">
                                   <link rel="shortcut icon" href="{{ static_url("ico/favicon.png") }}">
  </head>
  <body>
   <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->

  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Stores</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Products</a></li>
			  <li><a href="/">Orders</a></li>
			
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
   </div>
  </div>

    <div class="container">
      <!-- alert box -->
        {% block alertbox %}{% end %}
      <!-- Main hero unit for a primary marketing message or call to action -->
        {% block hero %}{% end %}

      <!-- Example row of columns -->
      <div class="row">
        {% block content %}{% end %}
      </div>

      <hr>
	
    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("js/jquery.js") }}"></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
 
   
    {% block include_js %}{%end%}

  </body>
</html>
