{% extends "base.html" %}
{% block css %}
.items{
		width:400px;
}

{% end %}
{% block hero %}
<h1>API for shopping bot</h1>

{% end %}

 {% block links %}

{% end %}
 {% block include_js %}

{%end%}

{% block content %}
     <form action="/" method="get">
<fieldset>
  <div class="control-group">
            {% if message!="" %}
				<div class="alert alert-error">{{message}}</div>
			{% end %}
			
			
       <h3>Replay from the bot.</h3>
	   <a href="{{getdata[2]}}" target="_blank">{{getdata[2]}}</a>
    <div class="controls">
	    <label class="control-label" for="cmd">On command:</label>
		<input type="text"  id="cmd" readonly="" name="cmd"   value="{{getdata[0]}}">
		<label class="control-label" for="replay">result</label>
		<input type="text"  id="reply" readonly="" name="reply" class="items"  value="{{getdata[1]}}">
		<input type="hidden" id="num" name="num" value="{{ num }}" />
		<div id="buttons">
            <input type="submit" class="btn btn-success" name="result" value="Prev replay">
            <input type="submit" class="btn btn-danger" name="result" value="Next replay">
		    <div style="clear:both"></div>
        </div>
    </div>
  </div>  
 <div class="control-group">
     <h3 >Send information about a web element to the bot.</h3>
	<div class="controls">
	<label class="control-label" for="cssurl">URL</label>
        <input type="text"  id="cssurl"  name="cssurl" class="items"  value="{{getdata[2]}}">
		<label class="control-label" for="csssel">Web element</label>
		<select id="elem" name="elem">  
		<option value="cssadd">Add to Cart</option>
		<option value="cssqty">Quantity</option>
		<option value="csscart">Open Cart</option>
		<option value="cssmodal">Close modal dialog</option>
		<option value="csscheckout">Checkout</option>
		<option value="csscontinue">Continue</option></select>
		<label class="control-label" for="csssel">CSS</label>
		<input type="text"  id="csssel"  name="csssel" class="items"  value="">
		<label class="control-label" for="csssel">Command</label>
		<select id="command" name="command">  
		<option value="facet">Facet</option>
		<option value="preview">Preview</option>
		<option value="shorder">Order</option></select>		
        <div id="buttons">
			<input type="submit" class="btn btn-warning" name="result" value="Send">
            <div style="clear:both"></div>
        </div>
    </div>
  </div> 
</fieldset>
    </form>
  
{% end %}